body {
  font-size: 16px;
  color: #2b283a;
  font-family: 'Roboto', sans-serif;
}

/* Typography */
body,
h1,
h3 {
  margin: 0;
}

h1 {
  font-size: 36px;
}

h3 {
  font-size: 20px;
  color: #d0aaff;
}

section h2 {
  margin-top: 0;
}

p {
  line-height: 23px;
}

/* link */
a {
  color: #ef5839;
  text-decoration: underline dotted;
}

a:hover,
a:active {
  color: #d4b44c;
}

/* layout */
header,
section,
footer {
  padding: 45px 0;
}

header,
.info-section {
  background-color: #5f29a3;
  color: whitesmoke;
}

section {
  color: #2b283a;
}

.container {
  width: 620px;
  margin: 0 auto;
}

.img-main {
  width: 100%;
}

.img-section {
  display: flex;
  justify-content: space-between;
}

.img-feature {
  width: 300px;
  border-radius: 4.6px;
}

footer {
  color: #5f29a3;
  text-align: center;
}

/* button */
.button {
  padding: 10px 19px;
  border-radius: 4.6px;
  font-weight: 500;
  text-decoration: none;
  display: inline-block;
  margin: 0 10px 0 0;
}

.btn-buy {
  background-color: #5f29a3;
  color: whitesmoke;
}

.button:hover,
.button:active {
  background-color: #f3e885;
  color: #2b283a;
}

.btn-info,
.btn-contact {
  background-color: #d0aaff;
  color: #5f29a3;
}

.btn-about {
  background-color: whitesmoke;
  color: #5f29a3;
}
